.profile__info-group_job {
  margin: 0; /*сброшены заданные браузером внешние отступы*/
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  padding-top: 16px;
  font-size: 18px;
  font-weight: 400;
}

@media screen and (max-width: 919px) {
  .profile__info-group_job {
    padding-top: 14px;
    font-size: 14px;
  }
}
