.profile-container {
  min-height: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
}

@media screen and (max-width: 919px) {
  .profile-container {
    min-height: 286px;
    flex-direction: column;
  }
}
